body{
    background-color: rgb(224, 224, 224);
}

.pattern{
    background-color: lightseagreen;
    background-image: url('../img/pattern.png');
    height: 120px;
    width: 100%;
    background-size: 30%;
}

.logo{
    padding-top: 3%;
    padding-left: 1%;
    height: 5%;
    width: 15%;
}

.titolo{
    font-size: 30px;
}

.scritto{
    font-size: 25px;
    color: lightslategrey;
    
}

.colore{
    color: lightseagreen;
}

.img{
    height: 10%;
    width: 10%;
    display: inline;
}

.descrizione{
    font-size: 15px
}

.text{
    font-size: 25px;
}

.lista{
    font-size: 25px;
}

.tabella-uno{
    background-color: rgb(3, 182, 182);
    border-color: rgb(3, 182, 182);
    font-size: 25px;
    background-size: 200px 300px;
}

.text-due{
    font-size: 25px;
}

.interessi{

}